@import "../core/variables";
@import "../core/mixins";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #091d33);
  background-color: #123863;
  @include tablet {
    height: 225px;
  }
  @include desktop {
    height: 275px;
  }

  &__logo {
    height: 70px;
    @include tablet {
      height: 100px;
    }
  }

  &__title {
    font-family: $fontTitle;
    font-size: 40px;
    color: $colorWhite;
    line-height: 48px;
    text-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.2);
    text-align: center;
    @include tablet {
      font-size: 48px;
      line-height: 56px;
    }
    @include desktop {
      font-size: 64px;
      line-height: 72px;
    }
  }
}
