/*-------- responsive --------*/

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

/* --------- common --------- */

@mixin button {
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: $colorSecondary;
  border: 2px solid $colorPrimary;
  border-radius: 8px;
  color: $colorWhite;
  font-family: $fontText;
  line-height: 24px;
  font-size: 16px;
  padding: 4px 8px;
  margin: 16px 32px;
  width: 100px;
}

@mixin alert {
  font-size: 16px;
  color: $colorWhite;
  padding: 16px;
  font-family: $fontText;
  border: 2px solid $colorSecondary;
  // margin: 32px;
  text-align: center;
}

/* --------- form --------- */

@mixin formLabel {
  font-family: $fontText;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: block;
  color: $colorWhite;
}

@mixin formInput {
  display: block;
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: $colorPrimary;
  border: 1px solid $colorBlack;
  border-radius: 8px;
  color: $colorWhite;
  font-family: $fontText;
  line-height: 24px;
  font-size: 16px;
  padding: 4px 8px;
  width: 200px;
}

/* --------- character --------- */

@mixin characterTitle {
  width: 200px;
  font-size: 32px;
  color: $colorWhite;
  line-height: 40px;
  text-align: center;
  font-family: $fontTitle;
}
