/*-------- responsive --------*/

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

/* --------- form --------- */

@mixin formLabel {
  font-family: $fontText;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: block;
}
