/* --------- colors --------- */

$colorWhite: #cdd1d6;
$colorBlack: #091d33;
$colorPrimary: #215e7c;
// $colorSecondary: #123863;
$colorSecondary: #063b55;

/* --------- fonts --------- */

$fontTitle: "Waterfall", cursive;
$fontText: "Nunito Sans", sans-serif;
