@import "../../core/variables";
@import "../../core/mixins";

body {
  background-color: $colorBlack;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorPrimary;
  padding: 16px;
  margin: 32px;
  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 550px;
    margin: auto;
  }

  &__image {
    width: 200px;
    height: 275px;
    margin: 16px;
    object-fit: cover;
    object-position: top;
  }
  &__title {
    @include characterTitle;
    margin-bottom: 16px;
    @include tablet {
      text-align: left;
      font-size: 40px;
      line-height: 48px;
      width: 250px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 700;
    color: $colorWhite;
    line-height: 24px;
    font-family: $fontText;
    margin: 8px;
    &--content {
      font-weight: 200;
    }
  }
  &__house {
    width: 56px;
    &--house {
      width: 56px;
    }
  }
  &__back {
    @include button;
    text-decoration: none;
    @include tablet {
      display: block;
      text-align: center;
      margin: auto;
      margin-bottom: 32px;
    }
  }
}

.alert {
  @include alert;
  max-width: 300px;
  display: block;
  margin: auto;
}
