@import "../../core/variables";
@import "../../core/mixins";

body {
  background-color: $colorBlack;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorPrimary;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba($color: $colorBlack, $alpha: 0.2);
  text-align: center;
  width: fit-content;
  margin: auto;
  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 800px;
  }

  &__image {
    width: 200px;
    height: 275px;
    margin: 16px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba($color: $colorBlack, $alpha: 0.2);
  }
  &__title {
    @include characterTitle;
    margin-bottom: 16px;
    text-shadow: 0 2px 3px rgba($color: $colorBlack, $alpha: 0.2);
    @include tablet {
      text-align: left;
      font-size: 40px;
      line-height: 48px;
      width: 300px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 700;
    color: $colorWhite;
    line-height: 24px;
    font-family: $fontText;
    margin: 8px;
    width: 200px;
    @include tablet {
      width: fit-content;
    }
    &--content {
      display: block;
      font-weight: 200;
      @include tablet {
        display: inline;
      }
    }
  }
  &__house {
    width: 56px;
    margin: auto;
    @include tablet {
      margin: 8px;
    }
    &--house {
      width: 56px;
    }
  }
  &__back {
    @include button;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 32px;
  }
}

.alert {
  @include alert;
  max-width: 300px;
  display: block;
  margin: auto;
}
