@import "../../core/variables";
@import "../../core/mixins";

.list {
  background-color: $colorBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 32px;
  }
}

.alert {
  @include alert;
}
