@import "../../core/variables";
@import "../../core/mixins";

.form {
  background-color: $colorBlack;
  padding: 32px;
  &__title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
    font-family: $fontText;
    color: $colorWhite;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
  }
  &__reset {
    display: block;
    @include button;
  }
}
