@import "../../core/variables";
@import "../../core/mixins";

.form {
  background-color: $colorBlack;
  margin: auto;
  width: fit-content;
  &__title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
    font-family: $fontText;
    color: $colorWhite;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 32px;
      min-width: 700px;
      max-width: 800px;
    }
  }
  &__reset {
    display: block;
    @include button;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 8px;
  }
}
